<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessageService">
                    <reliableSession inactivityTimeout="04:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IPushMessageService">
                    <reliableSession inactivityTimeout="04:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://it-liukai:10105/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessageService"
                contract="YunPos.MessageService.Proxy.IMessageService" name="NetTcpBinding_IMessageService" />
            <endpoint address="net.tcp://it-liukai:10105/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushMessageService"
                contract="YunPos.MessageService.Proxy.IPushMessageService"
                name="NetTcpBinding_IPushMessageService" />
        </client>
    </system.serviceModel>
</configuration>